
<h1>Bases de Datos Avanzadas</h1>
<h1>Ingeniería en ciencias de la Computación</h1>
<h2>De Lira Miramontes José Saúl</h2>
<h2>Proyecto Final</h2>
<h2>Libreria</h2>
<h3>329762</h3>
<h3>Irvin Daniel Campos Valenzuela</h3>
