<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Editar Articulo</h3>
        </div>
        <div class="card-body">
            <form action="/articles/edit/{{ article._id }}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                  <div class="form-group">
                    <input type="text" name="tittle" name="form-control" value="{{ article.tittle }}">
                </div>
                <div class="form-group">
                    <input type="date" name="date" class="form-control" value="{{ article.date }}"></input>
                </div>
                <div class="form-group">
                    <textarea name="description" rplaceholder="Descripción" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" name="Categoria" class="form-control" placeholder="categorie">
                </div>
                <div class="form-group">
                    <input type="text" name="Tags" class="form-control" placeholder="tags">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>