<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Nuevo Articulo</h3>
        </div>
        <div class="card-body">
            <form action="/articles/new-article" method="POST">
                <div class="form-group">
                    <input type="text" name="tittle" class="form-control" placeholder="Titulo" autofocus>
                </div>
                <div class="form-group">
                    <input type="date" name="date" class="form-control" placeholder="Date">
                </div>
                <div class="form-group">
                    <textarea name="text" rplaceholder="Text" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>